/* .welcome-page{
    width: 60%;
    height: 695px;
    background-image:url('https://res.cloudinary.com/dvwws6e4w/video/upload/v1530227635/Pexels_Videos_4505.mp4');
    background-repeat:none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px auto;
    

} */

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.welcome-greeting{
    color: white;
}
/* .dashboard{
   
    display: flex;
    align-items: center;
    justify-content: center;
} */

.login-button a:link, .login-button a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
}


.login-button a:hover, .login-button a:active {
    background-color: red;
}
.welcome-greeting .login-button{
    margin-top: 50px;
}

.welcome-wrapper{
    margin: 0 auto;
    display: block;
    width:40%;
    text-align: center;
    position: fixed;
    margin-top: 20%; 
    bottom: 44vh;
    right: 31vw;                                                                          
  
}

.login-button .welcome-greeting{
    width: 200px;
    
}

@media screen and (max-width: 375px){  /*s5 */
    .login-button a:link, .login-button a:visited{
        color: white;
    }
/* 
    #myVideo{
        display: none ; 
        position: fixed;
        
    } */
/* 
    .welcome-page{
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url('https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f2ed5bce03f084b61b8936517f711d7&auto=format&fit=crop&w=634&q=80')
    } */
    
    .welcome-greeting{
        color: white;
    }

    .welcome-wrapper{
        margin-top: 65%;  
    }

    .welcome-greeting h1{
        font-size: 30px;
    }

    .login-button a:link, .login-button a:visited {
        background-color: #f44336;
        color: white;
        padding: 7px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-decoration: none;
    }  
}

@media screen and (max-width: 636px){
    .login-button a:link, .login-button a:visited{
        color: white;
    }
    
    .welcome-greeting{
        color: white;
    }

    .welcome-wrapper{
        margin-top: 70%;  
    }

    .welcome-greeting h1{
        font-size: 40px;
    }

    .welcome-page{
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url('https://images.unsplash.com/photo-1521898284481-a5ec348cb555?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6f2ed5bce03f084b61b8936517f711d7&auto=format&fit=crop&w=634&q=80')
    }

    #myVideo{
        display: none ; 
        position: fixed;
        
    }


    .login-button a:link, .login-button a:visited {
        background-color: #f44336;
        color: white;
        padding: 9px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-decoration: none;
    }

}

/* 
@media screen and (min-width: 375px) and (max-width: 812px){
    .welcome-wrapper{
        margin-top: 100%;  
    }
} */

/* @media screen and (min-width: 411px) and (max-width: 734px){
    .welcome-wrapper{
        margin-top: 80%;  
    }
} */

@media screen and (min-width: 320px) and (max-width: 568px){
    .welcome-greeting h1{
        font-size: 30px;
    }

    .login-button a:link, .login-button a:visited {
        background-color: #f44336;
        color: white;
        padding: 4px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-decoration: none;
    }
}
/* 
@media screen and (min-width: 651px) and (max-width: 819px){

    .welcome-wrapper{
        margin-top: 50%;  
    }

} */

@media screen and (min-width: 1023px) {

  

    .welcome-greeting h1{
        font-size: 50px;
    }

    .login-button a:link, .login-button a:visited {
      
        padding: 15px 20px;
      
    }

}



