@media screen and (max-width:562px){
    .calender-button button{
        font-size: 12px;
    }

    .calender-main{
        width: 100vw;
    }

    .rbc-calendar{
        width: 300px;
    }

    .rbc-toolbar{
        flex-direction: column;
    }

}