.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    /* position: sticky; */
    top: 0;
    width: 100%;
    z-index: 99;
    
  }

 
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }

   .icon{
    display: none !important;
  }

  @media screen and (max-width:710px ){

    .header{
      display: flex;
      flex-direction: column;
    }
    .header-right a{
      display: none;
    }

    .header-right img{
      float: left;
      height: 30px;
      width: 30px;
    }

    .logo{
      display: none;
    }

    .icon{
        display: flex !important;  
        float: right !important;
        cursor: pointer;
        }

      .responsive{
        display: flex !important;
        flex-direction: column !important;
        float: right !important

      }

      .responsive img{
        display: none;
      
      }

      .responsive .icon{
        
      }

      /* .responsive .icon{
        display: flex;
        width: 100%;
        float: right !important;
        /* display: none !important; */
      /* }  */
      

}