.content {
    height: 90vh;
    width: 100vw;
}

.main-content {
    
    height: 100%;
    
}


.content-title {
    text-align: center;
    border-radius: 50%;
    margin-top: 1%
}

.title-img img {
    border-radius: 50%;
    margin: 4px;
}

.title-menus {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-menus button {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
    text-decoration: none;
    cursor: pointer;
    
}

button3:hover {
    background-color: #4095c6;
}

.content-body{
    height: 81% ;
   
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.content-grid{
    display: flex;
}

.content-card{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 200px;
    border: 1px solid green;
    margin: 30px;
    cursor: pointer;

}
.card-title{
    text-align: center;
    padding: 10px;
}
.card-title p{
    font-size: 20px;
    font-weight: 600;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.tooltipi {
    position: relative;
    
   
}

.tooltipi .tooltiptexti {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltipi .tooltiptexti::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltipi:hover .tooltiptexti {
    visibility: visible;
}

 .view-name p{
    font-size: 25px;
    font-weight:600;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;

}



 .view-description p{
    font-size: 18px;
}


@media all and (max-width:30em) {
    a.button3 {
        display: block;
        margin: 0.2em auto;
    }
}

@media screen and (max-width:810px){
    .content-grid{
        display: flex;
        flex-direction: column;
    }

     .card-img img{
         width: 40px;
         height: 40px;
     }

     .content-card{
         height: 150px;
         width: 130px;
     }

     .card-title p{
         font-size: 15px;
     }

     .title-menus img{
         height: 40px;
         width: 40px;
     }

     .title-menus button{
         height: 32px;
         font-size: 15px;
         width: 120px;
     }
}