.view-project{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.project-card{
    
    height: 250px;
    background-color: #dedede;
    margin: 20px;
    position: relative;
    padding: 5px;
    text-align: center;
}


@media screen and (max-width:710px ){

    .view-project{
        display: flex;
        flex-direction: column;
       
    }
  
    .no-message img{
        height: 100px;
        width: 100px;
    }

    .no-message-content h4{
        font-size: 15px;
      
    }

    .no-message-content{
        margin: 15px;
    }


}