.doughnut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.doughnut-title p{
        font-weight: 600;
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.no-task-assigned {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.no-task-assigned p{
    font-size: 20px;
}

